<section id="foot">
    <div class="container wow fadeIn">
      <div class="row">
        <div class=" w3-center">
          <div class = " wow fadeInLeft">
            <div class="w3-xxlarge">
              <a href="https://www.facebook.com/SaigesPhotographyy/" target="_blank" style ="color:#FFFFFF;" ><i class="fa fa-facebook-official " style = "padding-right : 3px;"></i></a>
              <a href="https://www.instagram.com/saigesphotographyy/" target="_blank" style ="color:#FFFFFF;" > <i class="fa fa-instagram "></i></a>
            </div>
              <div style =" font-size: 10px; " >
              <p style = "margin-bottom : 0px;">&copy; 2018 Saige's Photography </p>
            <p style =" font-size: 10px; font-family : courier; " > Created and Developed by <a href="mailto:ahernandez651@yahoo.com?Subject=Create%20My%20Wedpage!" target="_top" style="color:red; text-decoration:none;cursor:pointer; " > Adrian Hernandez</a>.</p>

            </div>
            </div>

      </div>
    </div>
  </section>
