    
    {{!-- PRINT OUT PORTFOLIO PICTURES --}}

<div style ="padding-top: 2%;" class = "container-fluid" >
  <div class  ="w3-center">
    <div class="section-header">
        <h3 class="section-title">Portfolio</h3>
        <p class="section-description">Click on image to view!</p>
      </div>
</div>
    <div class ="port" id="gallery-2" style=" display:none;  margin: auto; "></div>

</div>
